<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/background-no-waves.css" />

    <title>Login</title>
  </head>

  <body>
    <header>
      <a class="container-logo" th:href="@{/projeto/}">
        <img class="logo" src="/logo-no-bg.png" />
      </a>
    </header>
    <main>
      <div class="formularioContato">
        <h3>
          Vai ser um prazer <br />
          receber seu feedback!!🥰❤️
        </h3>

        <form
          class="form"
          action="#"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="text-center">
            <label>
              <span><i class="icon icon-user-1"></i> Nome</span>
              <input type="text" name="nome" required="" />
            </label>

            <label>
              <span><i class="icon icon-email"></i> E-mail</span>
              <input type="text" name="email" class="fade_8S" />
            </label>
            <label>
              <span><i class="icon icon-flag"></i> Assunto</span>
              <input type="text" name="assunto" required="" />
            </label>

            <label>
              <span><i class="icon icon-comment"></i> Mensagem</span>
              <textarea name="mensagem" rows="3" required=""></textarea>
            </label>
          </div>

          <input type="hidden" name="acao" value="enviar" />
          <button class="btn-envia" title="Enviar">
            <b class="icon icon-paper-plane-o"> Enviar</b>
          </button>
        </form>
      </div>
    </main>

    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </body>
  <script src="/js/script.js"></script>
</html>
